<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Winux-ORG" %></title>
    <%= stylesheet_link_tag "base" %>
    <%= stylesheet_link_tag "layout" %>
    <%= stylesheet_link_tag "screen" %>
    <%= stylesheet_link_tag "skeleton" %>
    <%= stylesheet_link_tag "syntax" %>
    <%= javascript_include_tag "site" %>

    <meta name="author" content="Artur Gurgul" />

  <link href="//fonts.googleapis.com/css?family=Open+Sans:600,800" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="/favicon.png">
  <link rel="alternate" type="application/atom+xml" title="{{ site.data.theme.name }}" href="{{site.url}}/atom.xml" />

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-k2/8zcNbxVIh5mnQ52A0r3a6jAgMGxFJFE2707UxGCk= sha512-ZV9KawG2Legkwp3nAlxLIVFudTauWuBpC10uEafMHYL0Sarrz5A7G79kXh5+5+woxQ5HM559XX2UZjMJ36Wplg==" crossorigin="anonymous">


  </head>
  <body>
    <div class="container">
      <div class="four columns sidebar">
        <%= partial "partials/sidebar" %>
      </div>
      <div class="eleven columns content">
      <%= yield %>

      <div class="footer">
        <%= partial "partials/footer" %>
      </div>

    </div>
  </body>
</html>
